<!--admin-1-->
<div class="container">
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/arun.png" style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;background-color:#fff;">
    <div class="card-body">
      <h5 class="card-title" style="margin-left: 45px;">Arun Prakash</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a> -->
    <!-- </div> -->
    </div>
  </div>


  <!--admin-2-->

  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/benildus.jpg"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title"style="margin-left: 60px;">Benildus</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a> -->
    <!-- </div> -->
    </div>
  </div>

  <!--admin-3-->

  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/bharathkumar.jpg"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title" style="margin-left: 40px;">Bharath Kumar</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a> -->
    <!-- </div> -->
    </div>
  </div>

  <!--admin-4-->
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/jeeva.png"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;" >
    <div class="card-body">
      <h5 class="card-title" style="margin-left: 30px;">Jeeva Pradeesh</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
        <div class="icon">
          <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
          <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
        </div> -->
      </div>
    </div>
    
  <!--admin-5-->
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/manish.jpg" style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title"style="margin-left: 40px;">Manish Bansal</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
        <div class="icon">
          <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
          <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
        </div> -->
      </div>
    </div>
  
    <!--admin-6-->
    
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/admin-photos/hari.jpg"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;background-color:#fff;">
      <div class="card-body">
        <h5 class="card-title">Nagi Hari Narasimhulu</h5>
        <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
        <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
        <div class="icon">
          <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
          <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
          <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
      </div> -->
      </div>
    </div>
      
      <!--admin-7-->
      
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/ragul.png"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title" style="margin-left: 65px;">Raghul</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
    </div> -->
    </div>
  </div>

  <!--admin-5-->
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/saraswathi.jpg"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title" style="padding-left: 30px;">Saraswathi</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
    </div> -->
    </div>
  </div>

  <!--admin-9-->

  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="assets/admin-photos/SRI DURGA.jpg"  style="margin-left:60px;margin-top:10px; border: 1px solid #e6e3e3;border-radius:60%;">
    <div class="card-body">
      <h5 class="card-title" style="margin-left: 60px;">Sri Durga</h5>
      <p class="card-text">Admin</p><p class="prg" >HOTEL_ACE</p>
      <!-- <a routerLink="/profile" class="btn btn-primary">Go to Profile</a>
      <div class="icon">
        <a href="#"> <i class="bi bi-facebook" style="padding: 10px; color:#777676"></i> </a>
        <a href="#"> <i class="bi bi-twitter" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-instagram" style="padding: 10px;color:#777676"></i></a>
        <a href="#">  <i class="bi bi-linkedin" style="padding: 10px;color:#777676"></i></a>
    </div> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>