<div class="top">

    <h1>My Profile</h1>
        <br>
        
        <div class="tod">
          <label class="center">Profile Image</label>
          <br><br>
          <p id="para1">
          <img src="images\pic.png" [src]="selectedImage"><br></p>
          <input type="file" (change)="onFileSelected($event)"><br>
        </div>
    </div>
   
        <div class="code">
          <div class="center">
            <div class="rom">
              <h1>Personal Information</h1>
              <label  for="CustomerId">CustomerId:</label>
             <input class="p" type="text" [(ngModel)]="customerId" required>
            
            <label for=" Name">Name:</label>
            <input class="p" type="text" [(ngModel)]="name" required>
            </div>
            <div class="rom">  
            <label for="Email">Email:</label>
            <input class="p" type="text" [(ngModel)]="email" required>
  
            <label>Phone Number:</label>
            <input class="p" type="text" [(ngModel)]="phone" required>
            </div>

         
          <button class="button" (click)="saveProfile()">Save</button>
          <button class ="button" (click)="editProfile()">Edit</button>
          <button class="button" (click)="cancelProfile()">Cancel</button>
        </div>
    </div>



