<div class="top">
  <h1>My Profile</h1>
  <br>

  <div class="tod">
    <label class="center">Profile Image</label>
    <br><br>
    <p id="para1">
      <img src="images\pic.png" [src]="selectedImage"><br>
    </p>
    <input type="file" (change)="onFileSelected($event)"><br>
  </div>
</div>

<div class="code">
  <div class="center">
    <div class="rom">
      <h1>Personal Information</h1>
      <label for="CustomerId">CustomerId:</label>
      <input class="p" type="text" [value]="customerId" [disabled]="!isEditMode" required>

      <label for="First Name">First Name:</label>
      <input class="p" type="text" [(ngModel)]="name" [disabled]="!isEditMode" required>
    </div>
    <div class="rom">
      <label for="Email">Email:</label>
      <input class="p" type="email" [(ngModel)]="email" [disabled]="!isEditMode" required>

      <label>Phone Number:</label>
      <input class="p" type="phone" [(ngModel)]="phone" [disabled]="!isEditMode" required>
    </div>

    <button class="button" (click)="saveProfile()" *ngIf="isEditMode">Save</button>
    <button class="button" (click)="editProfile()" *ngIf="!isEditMode">Edit</button>
    <button class="button" (click)="cancelProfile()" *ngIf="isEditMode">Cancel</button>
  </div>
</div>
