<div class="total-crd">
  <div class="d-flex justify-content-around">
    <div class="total-crd crd">
      <h1>Admin</h1>
      <h2>9 Members</h2>
    </div>
    <div class="total-crd crd1">
      <h1>Hotel Staff</h1>
      <h2>45 Members</h2>
    </div>
    <div class="total-crd crd2">
      <h1>Location</h1>
      <h2><i class="bi bi-geo-alt"></i>Chennai</h2>
  </div>
  <div class="total-crd crd3">
      <h1>Rooms Available</h1>
      <h2>20 Rooms</h2>
  </div>
 </div>
</div>


<div class="total-crd">
  <h2>Progress Compared to Previous Year</h2>
<div class="skills">
  <div class="skill">
    <div class="skill-name">Customers Visited</div>
    <div class="skill-bar">
      <div class="skill-per" per="90%" style="max-width:90%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">Revenue Generated</div>
    <div class="skill-bar">
      <div class="skill-per" per="70%" style="max-width:70%"></div>
    </div>
  </div>

  <div class="skill">
    <div class="skill-name">New Bookings</div>
    <div class="skill-bar">
      <div class="skill-per" per="60%" style="max-width:60%"></div>
    </div>
  </div>
</div>

</div>



<div class="total-crd">

  <h1 style="padding-top: 10px;padding-left: 10px;">No Of Customer</h1>
<div>
  <canvas baseChart
          [datasets]="customersChartData"
          [labels]="customersChartLabels"
          [options]="customersChartOptions"
          [legend]="customersChartLegend"
          [type]="customersChartType">
        </canvas>
        </div>
</div>


<div class="total-crd">
<h1 style="padding-top: 10px;padding-left: 10px;">Bookings Received</h1>
<div >
  <canvas baseChart
          [datasets]="bookingsChartData"
          [labels]="bookingsChartLabels"
          [options]="bookingsChartOptions"
          [legend]="bookingsChartLegend"
          [type]="bookingsChartType">
        </canvas>
        </div>

</div>

<div class="total-crd">
<h1 style="padding-top: 10px;padding-left: 10px;">Revenue Generated</h1>
<div >
  <canvas baseChart
          [datasets]="revenueChartData"
          [labels]="revenueChartLabels"
          [options]="revenueChartOptions"
          [legend]="revenueChartLegend"
          [type]="revenueChartType">
        </canvas>
        </div>

</div>
