  <mat-tab-group mat-align-tabs="center">
  
    <!--ROOMS TAB-->
    <mat-tab label="Rooms">
      <br>
      <br>
  
      <div class="form-group search-filter">
        <label for="roomType">Type:</label>
        <select class="form-control" id="roomType" [(ngModel)]="selectedRoomType" (change)="filterRooms()">
          <option value="">All</option>
          <option value="Standard Queen">Standard Queen</option>
          <option value="Standard King">Standard King</option>
          <option value="Standard">Standard</option>
          <option value="Deluxe">Deluxe</option>
          <option value="Super Deluxe">Super Deluxe</option>
          <option value="Classic">Classic</option>
          <option value="Suites">Suites</option>
        </select>
  
  
        <label for="category">AC/Non-AC:</label>
        <select class="form-control" id="category" [(ngModel)]="selectedCategory" (change)="filterRooms()">
          <option value="">All</option>
          <option value="AC">AC</option>
          <option value="NON-AC">NON-AC</option>
        </select>
  
  
        <label for="pricePerNight">Price:</label>
        <input type="number" class="form-control" id="maxPrice" [(ngModel)]="selectedMaxPrice" (change)="filterRooms()"
          placeholder="Max Price">
  
  
        <label for="availability">Availability:</label>
        <select class="form-control" id="availability" [(ngModel)]="selectedAvailability" (change)="filterRooms()">
          <option value="">All</option>
          <option value="1">Available</option>
          <option value="0">Not Available</option>
        </select>
  
      </div>
  
      <div class="room-grid">
        <div class="card-deck">
          <div class="card" *ngFor="let room of filteredRooms">
            <h5 class="card-title">{{ room.roomType }}</h5>
            <img class="card-img-top fixed-image-size" [src]="room?.roomType ? getRoomImage(room.roomType) : ''"
              alt="Room Image">
            <div class="card-body">
              <p class="card-text">AC / Non AC: {{ room.category }}</p>
              <p class="card-text">Capacity of guest: {{ room.capacity }}</p>
              <p class="card-text">Price: {{ room.pricePerNight }}</p>
              <p class="card-text">Availability: {{ room.availability === 1 ? 'YES' : 'NO' }}</p>
              <button class="btn btn-warning" *ngIf="room.availability === 1">Book Room</button>
              <h6 class="text-danger font-Times New Roman" *ngIf="room.availability === 0">Room Booked..!</h6>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  
  </mat-tab-group>