<h1 style="width: 600px; font-size:25px; margin-top:-15px;">Customer Service</h1>

<h2 style="width: 600px; font-size:medium;margin-left:30px;">Customer Booking Form</h2>
<div class="fom">
<form [formGroup]="bookingForm" (ngSubmit)="submitForm()">
  <div class="form-group frm">
    <label for="name">Customer Name</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <div *ngIf="bookingForm.get('name')?.invalid && (bookingForm.get('name')?.dirty || bookingForm.get('name')?.touched)" class="text-danger">
      Customer Name is required.
    </div>
  </div>

  <div class="form-group frm">
    <label for="checkInDate">Check-in Date</label>
    <input type="date" id="checkInDate" formControlName="checkIn" class="form-control">
    <div *ngIf="bookingForm.get('checkInDate')?.invalid && (bookingForm.get('checkInDate')?.dirty || bookingForm.get('checkInDate')?.touched)" class="text-danger">
      Check-in Date is required.
    </div>
  </div>

  <div class="form-group frm">
    <label for="checkOutDate">Check-out Date</label>
    <input type="date" id="checkOutDate" formControlName="checkOut" class="form-control">
    <div *ngIf="bookingForm.get('checkOutDate')?.invalid && (bookingForm.get('checkOutDate')?.dirty || bookingForm.get('checkOutDate')?.touched)" class="text-danger">
      Check-out Date is required.
    </div>
  </div>

  <div class="form-group frm">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control">
    <div *ngIf="bookingForm.get('email')?.invalid && (bookingForm.get('email')?.dirty || bookingForm.get('email')?.touched)" class="text-danger">
      Invalid Email.
    </div>
  </div>

  <div class="form-group frm">
    <label for="phoneNumber">
      phone Number</label>
    <input type="tel" id="phoneNumber" formControlName="phoneNumber" class="form-control">
    <div *ngIf="bookingForm.get('phoneNumber')?.invalid && (bookingForm.get('phoneNumber')?.dirty || bookingForm.get('phoneNumber')?.touched)" class="text-danger">
      Invalid Phone Number.
    </div>
  </div>

  <button type="submit" [disabled]="bookingForm.invalid" class="btn btn-primary">Book Now</button>
</form>

</div>

<!--<nav class="nav-bar">
  <input class="form-control" type="text" name="customerName" [(ngModel)]="customerName" (ngModelChange)="Search()" 
  placeholder="Enter Customer Name to search">
</nav>-->
<table>
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Check-In Date</th>
      <th>Check-out Date</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings;let i = index">
      <td>{{ booking.name }}</td>
      <td>{{ booking.checkIn }}</td>
      <td>{{ booking.checkOut }}</td>
      <td>{{ booking.email }}</td>
      <td>{{ booking.phoneNumber }}</td>
      <td>
        <button (click)="deleteBooking(booking.id)" class="del">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
