/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
html, body { height: 100%; }
body { margin: 0; 
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f6f9ff;
 }

.total-crd {
        width: 100%;
        height: 100%;
        background-color: #ffffff ;
        border-radius: 15px;
        padding: 20px 20px;
        margin: 1% 1%;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
=======

>>>>>>> 53a7fe76ea24bcd7d05a276c5880565f246b0a69
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
