.crd{
    background-color: 	#DF362D;
    width: fit-content;
  }
  .crd1{
    background-color:  #29A829;
    width: fit-content;
  }
  .crd2{
    background-color: #E3A700;
    width: fit-content;
  }
  .crd3{
    background-color: #0476D0;
    width: fit-content;
  }

  

  .bdy{
    width: 260px;
    padding: 10px;
  }
  
  .skills{
      width: 100%;
      max-width: 600px;
      padding: 0 20px;
    }
    
    .skill-name{
      font-size: 18px;
      font-weight: 700;
      color: #2851b8;
      text-transform: uppercase;
      margin: 20px 0;
    }
    
    .skill-bar{
      height: 14px;
      background: #e6e4e4;
      border: 1px solid #cfcccc;
      border-radius: 3px;
    }
    
    .skill-per{
      height: 14px;
      background: #3e60f6;
      border-radius: 3px;
       position: relative;
      animation: fillBars 2.5s 1;
    }
    
    .skill-per::before{
      content: attr(per);
      position: absolute;
      padding: 4px 6px;
      background: #f1f1f1;
      border-radius: 4px;
      font-size: 12px;
      top: -35px;
      right: 0;
      transform: translateX(50%);
    }
    
    .skill-per::after{
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: #f1f1f1;
      top: -20px;
      right: 0;
      transform: translateX(50%) rotate(45deg);
      border-radius: 2px;
    }
    
    @keyframes fillBars{
      from{
        width: 0;
      }
      to{
        width: 100%;
      }
    }
  
    h2{
      font-family: Montserrat;
      font-size: 20px;
    }
    h1{
      font-size: 30px;
    }