table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
  }
  
  th,
  td {
    border: 1px solid #000;
    padding: 8px;
  }

  .td1{
    background-color:#79dc79 ;
  }

  .fom{
    height: fit-content;
    width: fit-content;
    margin-left: 200px;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    background-color:#fff;
    
}
p{
  color: rgb(231, 25, 25);
}

input{
  position: inherit;
  float: right;
}

button{
  margin-top: 20px;
}
button:hover{
  background-color: rgb(21, 60, 255);
}
