<div class="total-crd">
  <form [formGroup]="paymentForm" (ngSubmit)="submitForm()">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label >CardHolder Name</label>
        <input type="text" class="form-control" id="cardHoldername" formControlName="cardholdername" placeholder="Card holdername" value="" >
      </div> 
      <div class="col-md-4 mb-3">
        <label >Card Number</label>
        <input type="text" class="form-control" id="cardNumber"formControlName="cardnumber" placeholder="Card Number" value="" maxlength="16" >
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>CCV Number</label>
        <input type="text" class="form-control" id="ccv" formControlName="ccv" maxlength="3" type="password" placeholder="CCV Number">
      </div>
      <div class="col-md-3 mb-3">
        <label>Amount</label>
        <input type="text" class="form-control" id="amount" type="amount" placeholder="Amount" required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
  </div>

  