
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="container">
    <a routerLink="" class="navbar-brand" >
      <h2>ACE HOTELS</h2> 
    </a>

  <ul class ="navbar-nav ms-auto">
    
      <li class = "nav-link">
        <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
      </li>

      <li class = "nav-link">
        <a routerLink="login" routerLinkActive="active" class="nav-link" >Login</a>
      </li>
      
      <li class = "nav-link disabled">
          <a routerLink="admin" routerLinkActive="active" class="nav-link">Admin</a>
      </li>
      <li class = "nav-link disabled">
        <a routerLink="user" routerLinkActive="active" class="nav-link" >User</a>
      </li>

      <li class = "nav-link">
        <a routerLink="home" routerLinkActive="active" class="nav-link" (click)= "logoutalrt()">Logout</a>
      </li>

      <li class = "nav-link">
        <a routerLink="contact" routerLinkActive="active" class="nav-link" >Contact</a>
      </li>
  </ul>
</div>
</nav>
<br>
<router-outlet></router-outlet>