
header {
    background-color: #353a40;
    padding: 20px;
    text-align: right;
  }
 
  a {
    color: #eef0f1;
    text-decoration: none; 

  }
  
  
  a:hover {
    color: #afb4b9; 
    text-decoration: underline; 
  }

