<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
header {
    background-color: #353a40;
    padding: 20px;
    text-align: right;
  }
 
  a {
    color: #eef0f1;
    text-decoration: none; 

  }
  
  
  a:hover {
    color: #afb4b9; 
    text-decoration: underline; 
  }

>>>>>>> 1bc3d03d4f20e9c43bdea68868f4caecc5336f8f
>>>>>>> 6120d8a7af0dfc6e0ba75df0003c7fe594d06190
