<br>
<h4 class="text-center font-italic">ROOMS</h4>
<br>

<mat-tab-group mat-align-tabs="center">

  <!--ROOMS TAB-->
  <mat-tab label="Rooms">
    <br>
    <div class="room-grid">
      <div class="card-deck">
        <div class="card" *ngFor="let room of rooms">
          <h5 class="card-title">{{ room.roomType }}</h5>
          <img class="card-img-top fixed-image-size" [src]="room?.roomType ? getRoomImage(room.roomType) : ''" alt="Room Image">
          <div class="card-body">
            <p class="card-text">AC / Non AC: {{ room.category }}</p>
            <p class="card-text">Capacity of guest: {{ room.noOfGuests }}</p>
            <p class="card-text">Price: {{ room.price }}</p>
            <p class="card-text">Availability: {{ room.availability === 1 ? 'YES' : 'BOOKED' }}</p>
            <button (click)="updateroom(room.roomNumber)" class="btn btn-info"> Update</button>
            <button (click)="deleteroom(room.roomNumber)" class="btn btn-danger" style="margin-left: 10px">
              Delete</button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>


  <!--ADD ROOMS TAB-->
  <mat-tab label="Add Room">
    <br>
    <div class="col-md-5 offset-md-3">
      <h3>CREATE-ROOM</h3>
      <form #roomform="ngForm" (ngSubmit)="onSubmit(roomform)">
        <div class="form-group">
          <label>Room Number</label>
          <input type="number" class="form-control" id="RoomNumber" name="RoomNumber" [(ngModel)]="newroom.roomNumber">
        </div>

        <div class="form-group">
          <label>Category</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="Category" value="AC" [(ngModel)]="newroom.category">AC</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="Category" value="NON-AC" [(ngModel)]="newroom.category">NON-AC</label>
          </div>
        </div>

        <div class="form-group">
          <label for="RoomType">Room Type</label>
          <select name="RoomType" id="RoomType" class="form-control" [(ngModel)]="newroom.roomType">
            <option value="Standard Queen">Standard Queen</option>
            <option value="Standard King">Standard King</option>
            <option value="Standard">Standard</option>
            <option value="Deluxe">Deluxe</option>
            <option value="Super Deluxe">Super Deluxe</option>
            <option value="Classic">Classic</option>
            <option value="Suites">Suites</option>
          </select>
        </div>

        <div class="form-group">
          <label>Arrival Date</label>
          <input type="date" class="form-control" id="ArrivalDate" name="ArrivalDate" [(ngModel)]="newroom.arrivalDate">
        </div>

        <div class="form-group">
          <label>Depart Date</label>
          <input type="date" class="form-control" id="DepartDate" name="DepartDate" [(ngModel)]="newroom.departDate">
        </div>

        <div class="form-group">
          <label>No of Guests</label>
          <input type="number" class="form-control" id="Noofguests" name="Noofguests" [(ngModel)]="newroom.noOfGuests">
        </div>

        <div class="form-group">
          <label>Price</label>
          <input type="number" class="form-control" id="Price" name="Price" [(ngModel)]="newroom.price">
        </div>

        <div class="form-group">
          <label for="Availability">Availability</label>
          <select id="Availability" name="Availability" class="form-control" [(ngModel)]="newroom.availability">
            <option value=1>YES</option>
            <option value=0>NO</option>
          </select>
        </div>
        <br>
        <button class="btn btn-success" type="submit">Submit</button>
      </form>
    </div>
  </mat-tab>

</mat-tab-group>